html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: #6ab7a1 !important;
}

.navbar-brand>img {
  width: 100%;
  margin-top: -11px;
}

nav.navbar {
  width: 100%;
  z-index: 999999999;
  background: #fff;
}

.navbar-nav {
  float: right !important;
}
.navbar-toggler {
  position: absolute;
  right: 0;
  top: 10px;
}
.navbar-nav .nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
  color: #000 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300 !important;
}
.fixed-true {
  position: fixed !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%) !important;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
}

footer {
  background: #222;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  height: 80px;
}

.btn {
  padding:10px 40px !important; 
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: 1px;
  font-size: 1.15rem !important;
  border-radius: 2px !important;;
}
.btn-primary {
  color: #fff !important;
  background-color: #6ab7a1 !important;
  border-color: #6ab7a1 !important;
}
#asb .btn-primary {
  background-color: #be133a !important;
  border-color: #be133a !important;
}
#pi3d .btn-primary {
  background-color: #3a9ad5 !important;
  border-color: #3a9ad5 !important;
}
.btn-primary:hover, #asb .btn-primary:hover, #pi3d .btn-primary:hover {
  color: #fff !important;
  background-color: #555 !important;
  border-color: #555 !important;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


section {
  padding: 80px 0;
  background: #fff;
  font-size: 1.75rem;
  line-height: 1.65em;
}
section:nth-child(odd){background:#efefef;}
.content section h2:nth-child(1) {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 0;
  color: #6ab7a1;
}
.content #asb h2:nth-child(1) {
  color: #be133a;
}
.content #pi3d h2:nth-child(1) {
  color: #3a9ad5;
}
.content #shield h2 {
  color: #333;
}

section#home {
  padding: 30vh 0;
  background: url(/uploads/hero_bg_box.jpg);
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
section#home:before {
  content: '';
  background: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section#home .col-sm-6 {padding:160px 0;}
section#home .btn {margin-right: 10px;}
section#home h1 {
  font-size: 12rem;
    line-height: 0.8em;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
section#home h1 span {
  font-size: 6rem;
    font-weight: 300;
    line-height: 1em;
    display: block;
}

section#home img {
  margin: 0 auto;
}

section#pi, section#asb, section#pi3d {min-height: 100px;}

.brand-logo {
  max-height: 170px;
  max-width: 80%;
  position: absolute !important;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.brand-logo.asb {
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.brand-logo.shield {
  max-height: 300px;
  max-width: 90%;
}
.brand-links {
  margin-top: 10px;
}
.brand-links a {
  color: #555 !important;
  font-size: 2.5rem;
  margin: 0 5px 0 0;
}
.brand-links a:hover {
  color:#6ab7a1 !important;
}
#asb .brand-links a:hover {
  color:#be133a !important;
}
#pi3d .brand-links a:hover {
  color:#3a9ad5 !important;
}

.form-control {
  height: 55px !important;
}
.form-group {
  margin-bottom: 10px !important;
}



@media screen and (max-width: 767px) {
  .navbar-collapse {
    padding-top: 50px !important;
    text-align: center;
  }
    .navbar-nav {
      float: none !important;
      margin: 0 !important;
  }
  section#home h1 {
    font-size: 8rem;
  }
  section#home h1 span {
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .row {
    width: 100vw;
    position: relative;
  }
  .navbar-brand {
    padding-left: 0;
  }
  .navbar-toggler {
    right: 10px;
  }
  .content section h2:nth-child(1) {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0;
    text-align: center;
  }
  .col-sm-6.order-xs-1 {
    margin-top: 40px;
  }
  .btn-primary, button.btn-primary {
    display: block !important;
    width: 100%;
  }
  .brand-logo {
    position: relative !important;
    max-width: 100% !important;
    max-height: 120px !important;
    margin: 0 auto 60px;
}
.brand-links {
  text-align: center;
}
section#home {
  padding: 15vh 0;
}
section#home h1 {
  font-size: 6rem;
  line-height: 0.8em;
}
section#home h1 span {
  font-size: 3rem;
  display: block;
  line-height: 1em;
  font-weight: 300;
}
section#home h1 span br {
  display: none;
}
footer {
  font-size: 1rem;
}

}




/* SINGLE TEAM STYLES */
body.single-team nav.navbar, body.single-team footer {
  display: none;
}

body.single-team section#logo {
  padding: 5px 0;
}

body.single-team  img.brand-logo.pi {
  margin: 0 !important;
  position: relative !important;
    max-width: 100% !important;
    max-height: 120px !important;
}

body.single-team .profile-pic {
  width: 100%;
}

body.single-team section#single-profile {
  padding: 30px 0;
}

body.single-team #single-profile h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0 !important;
}

body.single-team #single-profile h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: #f8bf4a;
}

body.single-team .contact-links {
  margin-top: 15px;
}

body.single-team .btn {
  margin-bottom:15px;
}


@media screen and (max-width: 480px) {



}